:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --square-size: 9px;
    --square-gap: 3px;
    --week-width: calc(var(--square-size) + var(--square-gap));
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.months {
    grid-area: months;
}
.days {
    grid-area: days;
}
.squares {
    grid-area: squares;
}

.graph {
    display: inline-grid;
    grid-template-areas:
        "empty months"
        "days squares";
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
}

.months {
    font-size: small;
    display: grid;
    grid-template-columns:
        calc(var(--week-width) * 4) /* Jan */
        calc(var(--week-width) * 4) /* Feb */
        calc(var(--week-width) * 4) /* Mar */
        calc(var(--week-width) * 5) /* Apr */
        calc(var(--week-width) * 4) /* May */
        calc(var(--week-width) * 4) /* Jun */
        calc(var(--week-width) * 5) /* Jul */
        calc(var(--week-width) * 4) /* Aug */
        calc(var(--week-width) * 4) /* Sep */
        calc(var(--week-width) * 5) /* Oct */
        calc(var(--week-width) * 4) /* Nov */
        calc(var(--week-width) * 5) /* Dec */;
}

.days li:nth-child(odd) {
    visibility: hidden;
}

.days,
.squares {
    font-size: small;
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
}

.squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
}

.squares li {
    background-color: #ebedf0;
}

.squares li[data-level="1"] {
    background-color: #c6e48b;
}

.squares li[data-level="2"] {
    background-color: #7bc96f;
}

.squares li[data-level="3"] {
    background-color: #196127;
}

input {
    color: black;
}
textarea {
    color: black;
}

/* color for other user's cursor */
.otherUserCursor {
    background-color: lightsalmon;
    animation: blink 1s infinite;
    width: 2px !important;
}

/* animation for other user's cursor */
@keyframes blink {
    0%,
    50% {
        background-color: transparent; /* Invisible cursor during these times */
    }
    51%,
    100% {
        background-color: lightsalmon; /* Visible cursor during these times */
    }
}

/* color for other user's cursor selection */
.otherUserSelection {
    background-color: lightsalmon;
}
