# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# Port - Set to 3001 temporarily to deconflict with frontend
NEXT_PUBLIC_PORT_NUMBER=3001

EMAIL_SERVICE_URL="http://localhost:3007/email"

# The access token used for sending JWT tokens to the user.
# KEEP THE TOKEN SECRET.
# Use `node` followed by `crypto.randomBytes(64).toString('hex')` to generate.
JWT_ACCESS_TOKEN="YOUR_ACCESS_TOKEN_HERE"

# The refresh token used for refreshing JWT tokens.
# KEEP THE TOKEN SECRET.
# Use `node` followed by `crypto.randomBytes(64).toString('hex')` to generate.
JWT_REFRESH_TOKEN="YOUR_REFRESH_TOKEN_HERE"